<body>
    <h1 style="text-align: center;">Juice Shop</h1>
    <nav>
        <ul>
            <li><a href="/">Order Juices</a></li>
            <li><a href="/admin">View Orders</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul> 
    </nav>