<%- include('layouts/head'); -%>
<%- include('layouts/navbar'); -%>

<body>
  <div id="center">
    <form name="order_form" method="post" action="/">
      <h3>Order Juices!</h3>

      <label>Name*:</label>
      <input type="text" name="name"> </br>

      <label>Student ID*:</label>
      <input type="text" name="studentID" placeholder="123-1123"> </br>

      <label>Mango Juices:</label>
      <input type="text" name="mango"> </br>

      <label>Berry Juices:</label>
      <input type="text" name="berry"> </br>

      <label>Apple Juices:</label>
      <input type="text" name="apple"> </br>

        <input type="submit" value="Submit"> </br>

      <div id="error-container">
        <% if(typeof(errors) !="undefined" ){ for (let error of errors) { %>
        <p id="errorMsgForms">
          <%= error.msg %>
        </p>
        <% } } %>
      </div>
    </form>
  </div>
</body>

<%- include('layouts/footer'); -%>